<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common_head('myNotes')">
</head>
<body>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="page-header">
            <h1>对不起! <small>服务器开小差了~~~</small></h1>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <a href="javascript:void(0);">
                    <img class="media-object" th:src="@{/img/graphic3.jpg}" style="width: auto;height: auto;">
                </a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
</html>