<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common_head('myNotes')">
</head>
<body>
<div class="row">
    <div class="col-md-1"><span id="userStatus" style="display: none;" th:if="${currUser!=null}" th:text="${currUser.userName}"></span></div>
    <div class="col-md-10">
        <div th:replace="common/head :: head_nav"></div>
        <!-- 分页容器：显示数据 -->
        <div id="htmlDiv"></div>
        <!-- 分页容器： 显示分页按钮-->
        <div class="col-lg-12" align="center">
            <!-- 注意:3版本的分页容器标签是<ul>，2版本的容器标签是<div> -->
            <ul id="mypage"></ul>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
<script>
    $(function() {
        pageStart();//开始分页
        function pageStart() {//分页函数
            $.ajax({ //去后台查询第一页数据
                type: "post",
                url: "essaysList",
                dataType: "json",
                data: {"currPage":1}, //参数：当前页为1
                success: function (data) {

                    appendHtml(data.list,data.page)//处理第一页的数据

                    var options = {//根据后台返回的分页相关信息，设置插件参数
                        bootstrapMajorVersion: 3, //如果是bootstrap3版本需要加此标识，并且设置包含分页内容的DOM元素为UL,如果是bootstrap2版本，则DOM包含元素是DIV
                        currentPage: data.page, //当前页数
                        totalPages: data.totalPage, //总页数
                        numberOfPages: data.pageSize,//每页记录数
                        itemTexts: function (type, page, current) {//设置分页按钮显示字体样式
                            // alert("itemTexts type:"+type);
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "末页";
                                case "page":
                                    return page;
                            }
                        },
                        onPageClicked: function (event, originalEvent, type, page) {//分页按钮点击事件
                            // alert("onPageClicked page:"+page);
                            $.ajax({//根据page去后台加载数据
                                url: "essaysList",
                                type: "post",
                                dataType: "json",
                                data: {"currPage": page},
                                success: function (data) {
                                    appendHtml(data.list,data.page);//处理数据
                                }
                            });
                        }
                    };
                    $('#mypage').bootstrapPaginator(options);//设置分页
                }
            });
        }

        function appendHtml(list,currPage) {//此函数用于处理后台返回的数据，根据自己需求来实现页面拼接
            var tableShow = '';
            for (var i = 0; i < list.length; i++) {
                tableShow += '<a href="news/' + list[i].essaysId + '/'+currPage+'">';
                tableShow += '<div class="am-u-sm-4 am-list-thumb">';
                /*tableShow += '<img src="' + list[i].newsUrl + '"/>';*/
                tableShow += '</div><div class=" am-u-sm-7 am-list-main">';
                tableShow += '<h3 class="am-list-item-hd">' + list[i].essaysTitle + '</h3>';
                tableShow += '</div><div class="newsico am-fr">';
                tableShow += '<i class="am-icon-clock-o  am-hide-sm-only">' + list[i].essaysContent.replace(/<[^>]+>/g,"").substring(1,100) + '</i></div></a>';
                tableShow += '<i>'+list[i].createTime+'</i><hr>';
            }
            $('#htmlDiv').html(tableShow)
        }
    });
</script>
</html>