<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common_head('myNotes')">
</head>
<body>
<div class="row">
    <div class="col-md-1">
        <span id="userStatus" style="display: none;" th:if="${currUser!=null}" th:text="${currUser.userName}"></span>
        <span id="loginStatus" style="display: none;" th:text="${loginStatus}"></span>
    </div>
    <div class="col-md-10">
        <div th:replace="common/head :: head_nav"></div>
        <div id="slidershow" class="carousel slide" data-ride="carousel">
            <!-- 设置图片轮播的顺序 -->
            <ol class="carousel-indicators">
                <li class="active" data-target="#slidershow" data-slide-to="0"></li>
                <li data-target="#slidershow" data-slide-to="1"></li>
                <li data-target="#slidershow" data-slide-to="2"></li>
            </ol>

            <!-- 设置轮播图片 -->
            <div class="carousel-inner" style="text-align:center">
                <div class="item active">
                    <a href="##"><img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg" alt=""  style="width: 100%;height: 100%;"></a>
                    <!-- 图片对应标题和描述内容 -->
                    <div class="carousel-caption">
                        <h3>first</h3>
                        <p>person</p>
                    </div>
                </div>
                <div class="item">
                    <a href="##"><img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" alt=""  style="width: 100%;height: 100%;"></a>
                    <!-- 图片对应标题和描述内容 -->
                    <div class="carousel-caption">
                        <h3>second</h3>
                        <p>tree</p>
                    </div>
                </div>
                <div class="item">
                    <a href="##"><img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg" alt=""  style="width: 100%;height: 100%;"></a>
                    <!-- 图片对应标题和描述内容 -->
                    <div class="carousel-caption">
                        <h3>third</h3>
                        <p>hill</p>
                    </div>
                </div>
            </div>
            <!-- 设置轮播图片控制器 -->
            <a class="left carousel-control" href="#slidershow" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#slidershow" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
<script>
    $(function () {
        var val = $("#loginStatus").text();
        if(val == "false"){
            alert("请先登录!")
        }
    });
</script>
</html>