<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common_head('myNotes')">
</head>
<body>
<div class="row">
    <div class="col-md-1"><span id="userStatus" style="display: none;" th:if="${currUser!=null}" th:text="${currUser.userName}"></span></div>
    <div class="col-md-10">
        <div th:replace="common/head :: head_nav"></div>

        <div class="media">
            <div class="media-body">
                <h4 class="media-heading" th:text="${essays.essaysContent}">it`s nothing</h4>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</body>
<script>

</script>
</html>