<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.notes.dao.QuotesDao">
    <resultMap id="BaseResultMap" type="com.blog.notes.entity.Quotes">
        <result column="quotesId" property="quotesId" />
        <result column="quotesAuthor" property="quotesAuthor" />
        <result column="quotesContent" property="quotesContent"/>
    </resultMap>
    <parameterMap id="Quotes" type="com.blog.notes.entity.Quotes"/>
    <sql id="Base_Column_List">
        quotesId,quotesAuthor, quotesContent
    </sql>

    <select id="getQuotes" resultType="com.blog.notes.entity.Quotes">
        select * from notes_quotes
    </select>


</mapper>